# day_8 is not completed watch all videos of codanics Pandas (Python) tips and tricks

> ### 1. How to find the version of pandas library which is already installed on your computer.
>
> **import pandas as pd**\
> **``(pd.__version__)``** 
>
> another way ``pd.show_versions()``

In [11]:
import pandas as pd
pd.__version__

'1.5.3'

# 2. Making a Data Frame

In [21]:
df=pd.read_excel("pandas_01_day8.xlsx")
df

   height weight favourite _dish
0     5.8    101   Chicken Pulao
1     6.2     92         Biryani
2     5.9     62   Karahi Ghosht
3     5.9     95   Chicken Pulao
4     5.9     55   Chicken Pulao
..    ...    ...             ...
82    5.4     55           Pasta
83    5.9     75   Karahi Ghosht
84    5.4     61         Biryani
85    6.2     68   Chicken Pulao
86    5.1     96         Biryani

[87 rows x 3 columns]

In [23]:
df.head()

   height weight favourite _dish
82    5.4     55           Pasta
83    5.9     75   Karahi Ghosht
84    5.4     61         Biryani
85    6.2     68   Chicken Pulao
86    5.1     96         Biryani

In [24]:
df.tail()

   height weight favourite _dish
82    5.4     55           Pasta
83    5.9     75   Karahi Ghosht
84    5.4     61         Biryani
85    6.2     68   Chicken Pulao
86    5.1     96         Biryani

## How to rename Column

In [ ]:
df.rename()