# How to import data set in python using pandas library.
written by: M Bilal Hussain\
Date: 22.01.2023\
email: bilalwsr@gmail.com

In [1]:
# step_1
# importing libraries
import pandas as pd

In [5]:
# step 2
# importing data_set
df = pd.read_excel("pandas_01_day6.xlsx")

In [6]:
df

   height weight favourite _dish
0     5.8    101   Chicken Pulao
1     6.2     92         Biryani
2     5.9     62   Karahi Ghosht
3     5.9     95   Chicken Pulao
4     5.9     55   Chicken Pulao
..    ...    ...             ...
82    5.4     55           Pasta
83    5.9     75   Karahi Ghosht
84    5.4     61         Biryani
85    6.2     68   Chicken Pulao
86    5.1     96         Biryani

[87 rows x 3 columns]

In [7]:
# dividing data into three parts for understanding
df.head()

  height weight favourite _dish
0    5.8    101   Chicken Pulao
1    6.2     92         Biryani
2    5.9     62   Karahi Ghosht
3    5.9     95   Chicken Pulao
4    5.9     55   Chicken Pulao

In [8]:
df.tail()

   height weight favourite _dish
82    5.4     55           Pasta
83    5.9     75   Karahi Ghosht
84    5.4     61         Biryani
85    6.2     68   Chicken Pulao
86    5.1     96         Biryani

In [10]:
df.shape

(87, 3)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   height           87 non-null     object
 1   weight           87 non-null     object
 2   favourite _dish  87 non-null     object
dtypes: object(3)
memory usage: 2.2+ KB